<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Logo"><img src="/static/TourSite/img/logo.png"></svg>
      </a>
      <p>© 2024</p>
    </div>

    <div class="col mb-3">
      <h5>Основні сторінки</h5>
      <ul class="nav flex-column">
        <li><a href="/" class="nav-link px-2">Головна</a></li>
        <li><a href="/news" class="nav-link px-2">Новини</a></li>
        <li><a href="/tours" class="nav-link px-2">Тури</a></li>
        <li><a href="/rates" class="nav-link px-2">Відгуки</a></li>
        <li><a href="/about" class="nav-link px-2">Про нас</a></li>
      </ul>

    </div>
    <div class="social-medias">
    <div class="col mb-3">
        <h5>Наші соц. мережі</h5>
        <ul class="nav flex-column">
            <li><a href="#" class="nav-link px-2"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Telegram_2019_Logo.svg/480px-Telegram_2019_Logo.svg.png">Telegram</a></li>
            <li><a href="#" class="nav-link px-2"><img src="https://cdn0.iconfinder.com/data/icons/tuts/256/viber.png">Viber</a></li>
        </ul>
    </div>
    </div>
  </footer>