{% load HandF %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про нас | AMITour</title>
    <link rel="stylesheet" href="/static/TourSite/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Pangolin' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
{% header %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1>Про нас</h1>
    AMITour - ваш найкращий путівник у світ подорожей! Зануртеся в світ пригод та відкриттів з нашими ексклюзивними турами, які об'єднують в собі розкіш, комфорт та незабутні враження.

<br>День перший: Прибуття до екзотичної дестинації вашого вибору. Зустріч з представником AMITour та трансфер до розкішного готелю, де вас чекає персональне обслуговування та вишуканість.

<br>День другий: Вирушайте на екскурсію до найвизначніших пам'яток обраного міста. Наші професійні гіди розкажуть вам усі секрети та легенди, пов'язані з кожним місцем, та допоможуть вам відчути його неповторну атмосферу.

<br>День третій: Насолоджуйтеся вільним часом, розслабляйтеся на приватному пляжі або в басейні готелю, або відправтеся на шопінг до місцевих магазинів з ексклюзивними товариствами.

<br>День четвертий: Вирушайте на захоплюючий природний тур до найпрекрасніших місць природної краси. Від гірських вершин до водоспадів та дикої природи - кожна мить буде наповнена дивовижними пейзажами.

<br>День п'ятий: Останній день вашої подорожі - час для збереження найкращих спогадів. Насолоджуйтесь останніми миттєвостями на ваший смак: від кулінарних шедеврів до вечірньої прогулянки під зірками.

<br>AMITour гарантує вам неперевершений рівень обслуговування та незабутні враження від кожного моменту вашої подорожі. Довірте нам свої мрії про відпочинок, і ми зробимо все можливе, щоб зробити їх реальністю!
</div>
{% footer %}
</body>
</html>