{% load HandF %}
{% load pagination %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Відгуки | AMITour</title>
    <link rel="stylesheet" href="/static/TourSite/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Pangolin' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
{% header %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="row">
        {% for rate in rates %}
    <div class="col-sm-6 col-lg-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Тур: {{ rate.tour }}</h5>
                  <p class="card-text">{{ rate.comment }}</p>
                    Оцінено в: {{ rate.stars }}/5
                  <p class="card-text"><small class="text-body-secondary">{{ rate.created_at }}. Автор: {{ rate.author }}</small></p>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
<!--{% for rate in rates %}-->
<!--<ul>-->
<!--    <li>Автор: {{ rate.author }}</li>-->
<!--    <li>Тур: {{ rate.tour }}</li>-->
<!--    <li>Оцінено в: {{ rate.stars }}/5</li>-->
<!--    <li>Комментарій: {{ rate.comment }}</li>-->
<!--    <li>Створено: {{ rate.created_at }}</li>-->
<!--</ul>-->
<!--{% endfor %}-->
    <ul class="button-slider">
    {% if page_obj.has_previous %}
    <a href="{% get_page_url request 'page' page_obj.previous_page_number %}">
    <button class="pagination-btn btn btn-primary d-inline-flex align-items-center" type="button">
        <
    </button></a>
    {% endif %}
    <button class="pagination-btn current-page btn btn-primary d-inline-flex align-items-center" type="button">
        {{ page_obj.number }}
    </button>
    {% if page_obj.has_next %}
    <a href="{% get_page_url request 'page' page_obj.next_page_number %}">
    <button class="pagination-btn btn btn-primary d-inline-flex align-items-center" type="button">
        >
    </button></a>
    {% endif %}
</ul>
<a href="/rates/send_rate"><button type="button" class="btn btn-primary">Відправити свій відгук</button></a>
</div>
{% footer %}
</body>
</html>